<%- contentFor('bodyPage')%>
<style>
    .section {
        background-color: white;
        border: 1px solid lightgrey;
        word-wrap: break-word;
        border-radius: 5px;
        margin: 10px 0px;
        padding: 0px 15px;
    }

    #icon {
        text-align: right;
    }

    #pict {
        /*width: 100%;*/
        /*height: 307px;*/
        display: block;
        margin: 0 auto;
    }

    #name {
        text-align: center;
        background-color: white;
    }

    #edit-club-btn {
        float: right;
        margin-top: inherit;
        color:#337ab7;
    }

    #club-name {
        float: left;
    }
    
    #club-description {
        clear: both;
    }

</style>

<title><%= club.name%></title>

<form action="/users/postClub" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Club Profile Image -->
                <img style="max-width: 750px; max-height: 400px" id="pict" src="/img/<%= club.img%>" onerror="this.src='/img/default.jpg'"/>
            </div>
        </div>

        <div class="row">
            <!-- Block for Meeting time and location -->
            <div class="col-sm-4">
                <div class="section" id="meeting">
                    <h3>Meetings:</h3>
                    <% if (schedules.length === 0) {%>
                        <p> None </p>
                    <% } %>
                    <% for(let index in schedules) { %>
                        <dl>
                            <dt>Time:</dt>
                            <dd id="time"><%= schedules[index].day  + ", " + schedules[index].startTime + " - " + schedules[index].endTime%></dd>
                            <dt>Location:</dt>
                            <dd id="location"> <%= schedules[index].location%> </dd>
                        </dl>
                    <% } %>
                </div>

                <!-- Block for Contact Info -->
                <div class="section" id="contact">
                    <h3>Contact Info</h3>
                    <dl>
                        <dt>Phone:</dt>
                        <dd id="phone"><%= club.phone%></dd>
                        <dt>Email:</dt>
                        <dd id="email"><a href="/contactClub" target="_top"><i title= "Send Mail" class="fa fa-envelope"></i></a>  <%= club.clubEmail%></dd>
                        <dt>Website:</dt>
                        <dd id="website"><a href=<%= club.socialLink %>> <%= club.socialLink %></a></dd>

                    </dl>
                </div>
            </div>

            <div class="col-sm-8">
                <!-- Club Description -->
                <div class="section" id="description">
                    <h2 id="club-name"> <%= club.name%> <br> </h2>
                    <% if( user !== undefined && club.leaderEmail === user.email) { %>
                    <input id="edit-club-btn" type="submit" class="btn btn-default" value="Edit Club">
                        <div>
                            <input type="hidden" name="clubName" value="<%= club.name%>">
                            <input type="hidden" name="clubEmail" value="<%= club.clubEmail%>">
                            <input type="hidden" name="clubLeaderEmail" value="<%= club.leaderEmail%>">
                            <input type="hidden" name="description" value="<%= club.description%>">
                            <input type="hidden" name="phone" value="<%= club.phone%>">
                            <input type="hidden" name="socialLink" value="<%= club.socialLink%>">
                        </div>
                    <% } %>
                    <p id="club-description"> <h3>Description</h3> <%= club.description%> </p>
                </div>
            </div>  
                
        </div>
    </div>
</form>