<%- contentFor('bodyPage')%>
<script type="text/javascript" src="/js/editClubProfile.js"></script>
<title>Edit Club Profile</title>
    
    <form action="/users/editClubProfile" method="POST">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="page-header">Edit Club Profile</h2>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="clubName">Club Name:</label>
                    <input type="text" class="form-control" name="clubName" id="clubName" value="<%= club.name %>" />
                </div>

                <div class="form-group col-md-4">
                    <label for="email">Contact email:</label>
                    <input type="email" class="form-control" name="clubEmail" id="email" value="<%= club.clubEmail%>"/>
                </div>

                <div class="form-group col-md-4">
                    <label for="phone">Phone number:</label>
                    <input type="tel" class="form-control" name="phone" id="phone" value="<%= club.phone%>"/>
                </div>

                <div class="form-group col-md-4">
                    <label >Website:</label>
                    <input type="url" class="form-control" name="socialLink" id="website" value="<%= club.socialLink%>"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-8">
                    <label for="description">Description:</label>
                    <textarea type="text" class="form-control" name="description" id="description" rows=5 placeholder="Tell people what your club is all about." ><%= club.description%></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>Interests:</h2>
                </div>
            </div>
            <div class="row">
            <div class="col-md-4 interest-block">
                <h3>Academics</h3>
                <input type="checkbox" name="interest" value="STEM"/> STEM <br>
                <input type="checkbox" name="interest" value="med" /> Med/Pre-Med/Health <br>
                <input type="checkbox" name="interest" value="Social_Sciences" /> Social Sciences <br>
                <input type="checkbox" name="interest" value="comm" /> Communications/Languages/Linguistics <br>
                <input type="checkbox" name="interest" value="Arts" /> Arts <br>
                <input type="checkbox" name="interest" value="other_academics" /> Other Academics <br>
            </div>
            <div class="col-md-4 interest-block">
                <h3>Arts</h3>
                <input type="checkbox" name="interest" value="digital_arts" /> Digital Arts <br>
                <input type="checkbox" name="interest" value="Music" /> Music <br>
                <input type="checkbox" name="interest" value="Dance" /> Dance <br>
                <input type="checkbox" name="interest" value="Painting" /> Painting <br>
                <input type="checkbox" name="interest" value="Theatre" /> Theatre <br>
                <input type="checkbox" name="interest" value="Photography" /> Photography/Videography <br>
                <input type="checkbox" name="interest" value="Literature" /> Literature/Poetry <br>
                <input type="checkbox" name="interest" value="Other_Arts" /> Other Arts <br>
            </div>
            <div class="col-md-4 interest-block">
                <h3>Sports and Athletics</h3>
                <input type="checkbox" name="interest" value="Team_Sports" /> Team Sports <br>
                <input type="checkbox" name="interest" value="Individual_Sports" /> Individual Sports <br>
                <input type="checkbox" name="interest" value="Official_Teams" /> Official Teams <br>
                <input type="checkbox" name="interest" value="Intramural_Teams" /> Intramural Teams <br>
                <input type="checkbox" name="interest" value="Unaffiliated_Sports" /> Unaffiliated Sports <br>
                <input type="checkbox" name="interest" value="Martial_Arts" /> Martial Arts <br>
                <input type="checkbox" name="interest" value="Outdoors" /> Outdoors <br>
                <input type="checkbox" name="interest" value="Other_Sports" /> Other Sports and Athletics <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 interest-block">
                <h3>Service</h3>
                <input type="checkbox" name="interest" value="Activism" /> Activism <br>
                <input type="checkbox" name="interest" value="Environmental" /> Environmental <br>
                <input type="checkbox" name="interest" value="Volunteer" /> Volunteer <br>
                <input type="checkbox" name="interest" value="Other_Service" /> Other Service <br>
            </div>
            <div class="col-md-4 interest-block">
                <h3>Religious and Spiritual</h3>
                <input type="checkbox" name="interest" value="Christianity" /> Christianity/Catholicism <br>
                <input type="checkbox" name="interest" value="Islam" /> Islam <br>
                <input type="checkbox" name="interest" value="Hinduism" /> Hinduism <br>
                <input type="checkbox" name="interest" value="Buddhism" /> Buddhism <br>
                <input type="checkbox" name="interest" value="Sikhism" /> Sikhism <br>
                <input type="checkbox" name="interest" value="Judaism" /> Judaism <br>
                <input type="checkbox" name="interest" value="Other_Religious" /> Other Religious or Spiritual <br>
            </div>
            <div class="col-md-4 interest-block">
                <h3>Greek Life</h3>
                <input type="checkbox" name="interest" value="Fraternity" /> Fraternity <br>
                <input type="checkbox" name="interest" value="Sorority" /> Sorority <br>
                <input type="checkbox" name="interest" value="CoEd" /> Co-Ed <br>
                <input type="checkbox" name="interest" value="Other_Greek" /> Other Greek <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 interest-block">
                <h3>Social</h3>
                <input type="checkbox" name="interest" value="Gaming" /> Gaming <br>
                <input type="checkbox" name="interest" value="Exercise" /> Exercise <br>
                <input type="checkbox" name="interest" value="Music" /> Music <br>
                <input type="checkbox" name="interest" value="Movies" /> Movies and TV <br>
                <input type="checkbox" name="interest" value="Other_Social" /> Other Social <br>
            </div>
            <div class="col-md-4 interest-block">
                <h3>Cultural</h3>
                <input type="checkbox" name="interest" value="Indian" /> Indian <br>
                <input type="checkbox" name="interest" value="Chinese" /> Chinese <br>
                <input type="checkbox" name="interest" value="Japanese" /> Japanese <br>
                <input type="checkbox" name="interest" value="Korean" /> Korean <br>
                <input type="checkbox" name="interest" value="Other_Asian" /> Other Asian <br>
                <input type="checkbox" name="interest" value="Filipino" /> Filpino <br>
                <input type="checkbox" name="interest" value="African" /> African <br>
                <input type="checkbox" name="interest" value="Latino" /> Hispanic/Latin <br>
                <input type="checkbox" name="interest" value="European" /> European <br>
                <input type="checkbox" name="interest" value="MidEast" /> Middle Eastern/Arab <br>
                <input type="checkbox" name="interest" value="LGBT" /> LGBT <br>
                <input type="checkbox" name="interest" value="Other_Cultural" /> Other Cultural <br>
            </div>
        </div>



        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Meeting Times:</h2>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" id="add-form-field">+</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn disabled btn-primary" id="remove-form-field">-</button>
            </div>
        </div>
            <div class="row" id="primary-row">
            <div class="col-sm-3 form-group">
                <label for="day">Day:</label>
                <select class="form-control" name="day" id="day">
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                    <option value="sunday">Sunday</option>
                </select>
            </div>
            <div class="col-sm-3 form-group">
                <label for="start-time">From:</label>
                <input type="time" class="form-control" name="start-time" id="start-time">
            </div>
            <div class="col-sm-3 form-group">
                <label for="end-time">To:</label>
                <input type="time" class="form-control" name="end-time" id="end-time">
            </div>
            <div class="col-md-3 form-group">
                <label for=>Location:</label>
                <input type="text" class="form-control" name="location" />
            </div>
            </div>
            <div class="row" id="submit-row">
                <div class="col-md-2 col-md-offset-10">
                    <button type="submit" id="meetbtn" class="btn btn-success">Save Club Information</button>
                </div>
            </div>
        </div>
    </form>
    <br>
    <!-- Script to confirm club deletion -->
    <script language="JavaScript">
        function confirmDelete() {
            return confirm('Confirm delete club?') === true;
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="form-group col-md-4">
                <form action="/users/deleteClub" method="POST">
                    <button type="submit" class="btn btn-danger" onClick="<%- "return confirmDelete()"%>" name="delete" value="delete">Delete Club</button>
                </form>
            </div>
        </div>
    </div>