<%- contentFor('bodyPage')%>
<script type="text/javascript" src="/js/editClubProfile.js"></script>
<title>Edit Club Profile</title>
    
    <form action="/users/editClubProfile" method="POST" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="page-header">Edit Club Profile</h2>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="clubName">Club Name:</label>
                    <input type="text" class="form-control" name="clubName" id="clubName" placeholder="<%= club.name %>" maxlength="100"/>
                </div>

                <div class="form-group col-md-4">
                    <label for="email">Contact email:</label>
                    <input type="email" class="form-control" name="clubEmail" id="email" placeholder="<%= club.clubEmail%>" maxlength="100"/>
                </div>

                <div class="form-group col-md-4">
                    <label for="phone">Phone number:</label>
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="<%= club.phone%>" maxlength="14"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label >Website:</label>
                    <input type="url" class="form-control" name="socialLink" id="website" placeholder="<%= club.socialLink%>" maxlength="275"/>
                </div>
                <div class="form-group col-md-8">
                    <label for="description">Description:</label>
                    <textarea type="text" class="form-control" name="description" id="description" rows=5 maxlength="2000"><%= club.description%></textarea>
                </div>
            </div>

            <!--Image handle-->
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="pic">Profile Picture: </label>
                    <!-- Makes image dispay is file selected; Else disappears when clicked on-->
                    <img id="preview" src="/img/<%= club.img%>" onmouseover="" style="cursor: pointer; align-content: center; max-height: 500px; max-width: 500px">
                    <input type="file" class="form-control" value="<%= club.img%>" name="profilePic" id="pic" accepts="image/jpeg, image/jpg, image/png, image/bmp, image/gif"/>

                    <script>
                        // Previews profile picture when an image is selected
                        document.getElementById("pic").onchange = function () {
                            var reader = new FileReader();
                            document.getElementById("preview").style.display='inline';

                            reader.onload = function (e) {
                                // get loaded data and render thumbnail.
                                document.getElementById('preview').src = e.target.result;
                            };
                            // read the image file as a data URL.
                            reader.readAsDataURL(this.files[0]);
                        };

                        // Removes preview if picture is clicked on
                        document.getElementById('preview').onclick = function () {
                            document.getElementById("preview").style.display='none';
                            // Removes selected file choice
                            document.getElementById('pic').value = '';
                        }
                    </script>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h2>Categories:</h2>
                </div>
            </div>
            <div class="row">
            <div class="col-md-4 interest-block">
                <h3>Academics</h3>
                <input type="checkbox" name="interests[]" value="Arts" /> Arts <br>
                <input type="checkbox" name="interests[]" value="Business" /> Business <br>
                <input type="checkbox" name="interests[]" value="Communication" /> Communications/Languages/Linguistics <br>
                <input type="checkbox" name="interests[]" value="Pre-Med/Health" /> Med/Pre-Med/Health <br>
                <input type="checkbox" name="interests[]" value="Social_sciences" /> Social Sciences <br>
                <input type="checkbox" name="interests[]" value="STEM"/> STEM <br>
                <input type="checkbox" name="interests[]" value="Other Academics" /> Other Academics <br>
            </div>
            <div class="col-md-4 interest-block">
                <h3>Arts</h3>
                <input type="checkbox" name="interests[]" value="Culinary" /> Culinary <br>
                <input type="checkbox" name="interests[]" value="Dance" /> Dance <br>
                <input type="checkbox" name="interests[]" value="Digital Arts" /> Digital Arts <br>
                <input type="checkbox" name="interests[]" value="Literature" /> Literature/Poetry <br>
                <input type="checkbox" name="interests[]" value="Music" /> Music <br>
                <input type="checkbox" name="interests[]" value="Painting" /> Painting <br>
                <input type="checkbox" name="interests[]" value="Photography" /> Photography/Videography <br>
                <input type="checkbox" name="interests[]" value="Theatre" /> Theatre <br>
                <input type="checkbox" name="interests[]" value="Other Arts" /> Other Arts <br>
            </div>
            <div class="col-md-4 interest-block">
                <h3>Sports and Athletics</h3>
                <input type="checkbox" name="interests[]" value="Individual Sports" /> Individual Sports <br>
                <input type="checkbox" name="interests[]" value="Intramural Teams" /> Intramural Teams <br>
                <input type="checkbox" name="interests[]" value="Martial Arts" /> Martial Arts <br>
                <input type="checkbox" name="interests[]" value="Official Teams" /> Official Teams <br>
                <input type="checkbox" name="interests[]" value="Outdoors" /> Outdoors <br>
                <input type="checkbox" name="interests[]" value="Team Sports" /> Team Sports <br>
                <input type="checkbox" name="interests[]" value="Unaffiliated Sports" /> Unaffiliated Sports <br>
                <input type="checkbox" name="interests[]" value="Other Sports" /> Other Sports and Athletics <br>
            </div>
        </div>
            <div class="row">
                <div class="col-md-4 interest-block">
                    <h3>Service</h3>
                    <input type="checkbox" name="interests[]" value="Activism" /> Activism <br>
                    <input type="checkbox" name="interests[]" value="Community Service" /> Community Service <br>
                    <input type="checkbox" name="interests[]" value="Environmental" /> Environmental <br>
                    <input type="checkbox" name="interests[]" value="Other Service" /> Other Service <br>
                </div>
                <div class="col-md-4 interest-block">
                    <h3>Religious and Spiritual</h3>
                    <input type="checkbox" name="interests[]" value="Buddhism" /> Buddhism <br>
                    <input type="checkbox" name="interests[]" value="Christianity" /> Christianity/Catholicism <br>
                    <input type="checkbox" name="interests[]" value="Hinduism" /> Hinduism <br>
                    <input type="checkbox" name="interests[]" value="Islam" /> Islam <br>
                    <input type="checkbox" name="interests[]" value="Judaism" /> Judaism <br>
                    <input type="checkbox" name="interests[]" value="Sikhism" /> Sikhism <br>
                    <input type="checkbox" name="interests[]" value="Other Religions" /> Other Religious or Spiritual <br>
                </div>
                <div class="col-md-4 interest-block">
                    <h3>Greek Life</h3>
                    <input type="checkbox" name="interests[]" value="Fraternity" /> Fraternity <br>
                    <input type="checkbox" name="interests[]" value="Co-Ed" /> Co-Ed <br>
                    <input type="checkbox" name="interests[]" value="Sorority" /> Sorority <br>
                    <input type="checkbox" name="interests[]" value="Other Greek" /> Other Greek <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 interest-block">
                    <h3>Social</h3>
                    <input type="checkbox" name="interests[]" value="Books" /> Books/Reading <br>
                    <input type="checkbox" name="interests[]" value="Cars" /> Cars/Trucks/Motorcycles <br>
                    <input type="checkbox" name="interests[]" value="Comics" /> Comic Books <br>
                    <input type="checkbox" name="interests[]" value="Concerts" /> Concerts <br>
                    <input type="checkbox" name="interests[]" value="Exercise" /> Exercise <br>
                    <input type="checkbox" name="interests[]" value="Gaming" /> Gaming <br>
                    <input type="checkbox" name="interests[]" value="LGBT" /> LGBT <br>
                    <input type="checkbox" name="interests[]" value="Movies" /> Movies and TV <br>
                    <input type="checkbox" name="interests[]" value="Political" /> Political <br>
                    <input type="checkbox" name="interests[]" value="SciFi" /> Sci-Fi and Fantasy <br>
                    <input type="checkbox" name="interests[]" value="Sex" /> Sex/Gender/Sexuality <br>
                    <input type="checkbox" name="interests[]" value="Other Social" /> Other Social <br>
                </div>
                <div class="col-md-4 interest-block">
                    <h3>Cultural</h3>
                    <input type="checkbox" name="interests[]" value="African" /> African <br>
                    <input type="checkbox" name="interests[]" value="Chinese" /> Chinese <br>
                    <input type="checkbox" name="interests[]" value="European" /> European <br>
                    <input type="checkbox" name="interests[]" value="Filipino" /> Filpino <br>
                    <input type="checkbox" name="interests[]" value="Latino" /> Hispanic/Latin <br>
                    <input type="checkbox" name="interests[]" value="Indian" /> Indian <br>
                    <input type="checkbox" name="interests[]" value="Japanese" /> Japanese <br>
                    <input type="checkbox" name="interests[]" value="Korean" /> Korean <br>
                    <input type="checkbox" name="interests[]" value="Middle Eastern" /> Middle Eastern/Arab <br>
                    <input type="checkbox" name="interests[]" value="Other Cultures" /> Other Cultural <br>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Meeting Times:</h2>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" id="add-form-field">+</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn disabled btn-primary" id="remove-form-field">-</button>
            </div>
        </div>
            
            <div class="row" id="primary-row">
                <% if (schedules.length !== 0) {
                    for (let idx in schedules ) { %>
                    <div class="col-sm-3 form-group">
                        <label for="day">Day:</label>
                        <select class="form-control" name="day[]" id="day" required>
                            <option value="Monday" <% if(schedules[idx].day === 'Monday') {%> selected <%}%> >Monday</option>
                            <option value="Tuesday" <% if(schedules[idx].day === 'Tuesday') {%> selected <%}%>>Tuesday</option>
                            <option value="Wednesday" <% if(schedules[idx].day === 'Wednesday') {%> selected <%}%>>Wednesday</option>
                            <option value="Thursday" <% if(schedules[idx].day === 'Thursday') {%> selected <%}%>>Thursday</option>
                            <option value="Friday" <% if(schedules[idx].day === 'Friday') {%> selected <%}%>>Friday</option>
                            <option value="Saturday" <% if(schedules[idx].day === 'Saturday') {%> selected <%}%>>Saturday</option>
                            <option value="Sunday" <% if(schedules[idx].day === 'Sunday') {%> selected <%}%>>Sunday</option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="start-time">From:</label>
                        <input type="time" class="form-control" value="<%= (schedules[idx].startTime) %>" name="startTime[]" id="start-time" />
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="end-time">To:</label>
                        <input type="time" class="form-control" value="<%= schedules[idx].endTime %>" name="endTime[]" id="end-time" />
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for=>Location:</label>
                        <input type="text" class="form-control" value="<%= schedules[idx].location%>" name="location[]" />
                    </div>
                <% }
                } else  {%>
                    <div class="col-sm-3 col-xs-12 form-group">
                        <label for="day">Day:</label>
                            <select class="form-control" name="day[]" id="day">
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                    </div>
                    <div class="col-sm-3 col-xs-12 form-group">

                        <label for="start">From:</label>
                        <input type="time" class="form-control" name="startTime[]" id="start" required>
                    </div>
                    <div class="col-sm-3 col-xs-12 form-group">
                        <label for="end">To:</label>
                        <input type="time" class="form-control" name="endTime[]" id="end" required>
                    </div>
            
            
                    <div class="col-sm-3 col-xs-12 form-group">
                        <label for=>Location:</label>
                        <input type="text" class="form-control" name="location[]" maxlength="200" required/>
                    </div>
                <%}%>
            </div>
            <div class="row" id="submit-row">
                <div class="col-md-2 col-md-offset-10">
                    <button type="submit" id="meetbtn" class="btn btn-default">Save Club Information</button>
                </div>
            </div>
        </div>
    </form>
    <br>
    <!-- Script to confirm club deletion -->
    <script language="JavaScript">
        function confirmDelete() {
            return confirm('Confirm delete club?') === true;
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="form-group col-md-4">
                <form action="/users/deleteClub" method="POST">
                    <input type="hidden" name="clubEmail" value="<%= club.clubEmail%>">
                    <input type="hidden" name="clubName" value="<%= club.name%>">
                    <button type="submit" class="btn btn-danger" onClick="<%- "return confirmDelete()"%>" name="delete" value="delete">Delete Club</button>
                </form>
            </div>
        </div>
        <div class="row">
        <br/>
        <br/>
        <br/>
        <br/>
        </div>
    </div>
<script type="text/javascript" src="/js/editClubProfile.js"></script>