<%- contentFor('bodyPage')%>
<title>Edit Profile</title>
<body>
    <h2 class="page-header">Edit User Profile</h2>
    <form action="/users/editUserProfile" method="POST">
        <div class="container">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="firstname">First Name:</label>
                    <input type="text" class="form-control" name="firstname" value="<%= user.fname%>"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="lastname">Last Name:</label>
                    <input type="text" class="form-control" name="lastname" value="<%= user.lname%>"/>
                </div>
                <div class="form-group col-md-4" >
                    <label for="phone">Phone Number:</label>
                    <input type="tel" class="form-control" name="phone" value="<%= user.phone%>"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="email">UCSD Email:</label>
                    <input type="email" class="form-control" name="email" value="<%= user.email%>"/>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-6">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" />
                </div>

                <div class="form-group col-md-6">
                    <label for="password2">Confirm Password:</label>
                    <input type="password" class="form-control" name="password2" />
                </div>
            </div>
            <div class="row">

            </div>


            <div class="row">
                <div class="col-sm-2">
                    <input type="submit" value="Save Changes" class="btn btn-success"></input>
                </div>
            </div>
        </div>
    </form>
</body>