<%- contentFor('bodyPage')%>
<head>
    <title>Search Page</title>
    <meta name="description" content="To display search results">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- for Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/searchPageEffects.js"></script>

    <script>
        $("#start-time").change(function() {
            document.getElementById("end-time").min < document.getElementById("start-time").value;
        });
    </script>
</head>

<style>
    body {
        background-color: whitesmoke;
    }
 
    .search-result {
        float: left;
        border: 1px solid lightgrey;
        border-radius: 5px;
        width: 100%;
        margin: 10px 0px;
        padding: 5px;
        color: black;
        background-color: white;
    }

    .search-result:hover {
        border-color: dodgerblue;
    }

    #pict {
        object-fit: cover; 
        width: 200px; 
        height: 150px;
        margin-right: 5px;
        float: left;
        outline: 1px solid grey;
        border: 0;
    }

    #name {
        font-size: 24px;
        height: 0px;
    }

    #tags {
        color: darkgray;
    }

    #sidebar {
        border: 1px solid lightgrey;
        border-radius: 0px 5px 5px 5px;
        margin-left: -15px;
        padding: 5px;
        background-color: white;
    }

    .list-group-item:hover {
        background-color: whitesmoke;
        border-left: 1px solid dodgerblue!important;
    }

    .panel-heading:hover {
        border: 1px solid dodgerblue;
    }

    a:hover {
        text-decoration: none;
    }

    a:focus {
        text-decoration: none;
    }

    #filter {
        border-bottom: 1px solid lightgrey;
        text-align: center;
        padding-bottom: 2px;
    }

    .schedule-labels {
        text-decoration: none!important;
        padding-left: 5px;
        font-weight: normal;
        color:#337ab7;
    }

    #weekday {
        margin: 0px;
    }

    .SubCategories {
        visibility:hidden;
        color: black;
    }
    .interestlabel {
        font-weight: normal;
    }
    
    input[type=checkbox]:checked {
        background-color: whitesmoke;
        border-left: 1px solid dodgerblue!important;
    }

    .SubCategories:focus {
        font-weight: bold;
    }

    #logo {
        height: 25px;
        width: 100px;
    }

    #top {
        background-color: white;
        padding: 0px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
        border: 1px solid lightgrey;
        border-radius: 0px;
    }

    #pickday {
        height: 34px;
    }

    .form-inline {
        margin-top: 0px;
    }

    #Nav-List {
        float: right;
    }

    #search-btn {
        color:#337ab7;
    }

    #search-btn:hover {
        background-color:#337ab7;
        color:black;
    }

    input#clubNameLink {
        background: none;
        outline: none;
        border: none;
        color: #337ab7;
    }

    #clubNameLink:hover{
        text-decoration: none;
        color: #3e9ae6;
    }

</style>
<div class="container-fluid">

    <!-- Centeral Row -->
    <div class="row">
        <!-- Class for Side NavBar -->
        <div class="col-sm-3 col-lg-2">
            <div id="sidebar">

                <form action="/searchPageFilter" method="POST">
                <!-- Title for Nav Bar -->
                <h4 id="filter">
                    Filter Clubs
                </h4>

                <!-- Panel group with tag filters-->
                <div class="panel-group">
                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse99">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Academic
                                </h4>
                            </div>
                        </a>
                        <div id="collapse99" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label class="interestlabel">Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Arts" value="Arts"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Business</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Business" value="Business"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Communications</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Comm" value="Communication"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Med/Pre-Med/Health</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Med" value="Pre-Med/Health" />
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Social Sciences</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Social_sciences" value="Social Sciences"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">STEM</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="STEM" value="STEM"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Other Academics</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Other_academics" value="Other Academics"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Arts
                                </h4>
                            </div>
                        </a>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label class="interestlabel">Culinary</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Culinary" value="Culinary"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Dance</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Dance" value="Dance"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Digital Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Digital_arts" value="Digital Arts"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Literature/Poetry</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Literature" value="Literature"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Music</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Music" value="Music"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Painting/Drawing</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Painting" value="Painting"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Photography/Videography</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Photography" value="Photography"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Theatre/Stage</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Theatre" value="Theatre"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Other Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Other_arts" value="Other Arts"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse3">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Sports/Athletics
                                </h4>
                            </div>
                        </a>
                        <div id="collapse3" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label class="interestlabel">Individual Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Individual_sports" value="Individual Sports"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Intramural Teams</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Intramural" value="Intramural"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Martial Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Martial_arts" value="Martial Arts"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Official UCSD Teams</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Official_teams" value="Official Teams"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Outdoors</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Outdoors" value="Outdoors"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Team Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Team_sports" value="Team Sports"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Unaffiliated Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Unaffiliated" value="Unaffiliated Sports"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Other Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Other_sports" value="Other Sports"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse4">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Service
                                </h4>
                            </div>
                        </a>
                        <div id="collapse4" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label class="interestlabel">Activism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Activism" value="Activism"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Community Service</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Community" value="Community Service"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Environmental</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Environmental" value="Environmental"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Other Service</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Other_service" value="Other Service"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse5">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Religious/Spiritual
                                </h4>
                            </div>
                        </a>
                        <div id="collapse5" class="panel-collapse collapse">
                            <ul class="list-group">
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Buddhism" value="Buddhism"/>
                                <li class="list-group-item"><label class="interestlabel">Buddhism</label>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Christianity/Catholicism</label>
                                    <input type="checkbox" class="SubCategories" name="checkbox[]" id="Christian" value="Christian"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Hinduism</label>
                                    <input type="checkbox" class="SubCategories" name="checkbox[]" id="Hindu" value="Hindu"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Islam</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Islam" value="Islam"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Judaism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Judaism" value="Judaism"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Sikhism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Sikh" value="Sikh"/>
                                </li>                                
                                <li class="list-group-item"><label class="interestlabel">Other Religious/Spiritual</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Other_religious" value="Other Religions"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse6">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Greek Life
                                </h4>
                            </div>
                        </a>
                        <div id="collapse6" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label class="interestlabel">Fraternity</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Fraternity" value="Fraternity"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Co-Ed</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="CoEd" value="Co-Ed"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Sorority</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Sorority" value="Sorority"/>
                                </li>                                
                                <li class="list-group-item"><label class="interestlabel">Other Greek Life</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Other_greek" value="Other Greek"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse7">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Social
                                </h4>
                            </div>
                        </a>
                        <div id="collapse7" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label class="interestlabel">Books/Reading</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Books" value="Books"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Cars</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Cars" value="Cars"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Comic Books</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Comics" value="Comics"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Concerts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Concerts" value="Concerts"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Exercise</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Exercise" value="Exercise"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Gaming</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="gaming" value="gaming"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">LGBT</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="LGBT" value="LGBT"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Movies and TV</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Movies" value="Movies"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Other Social</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Other_social" value="Other Social"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse8">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Cultural
                                </h4>
                            </div>
                        </a>
                        <div id="collapse8" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label class="interestlabel">African</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="African" value="African"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Chinese</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Chinese" value="Chinese"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">European</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="European" value="European"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Filipino</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Filipino" value="Filipino"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Hispanic/Latin</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Hispanic" value="Hispanic"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Indian</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Indian" value="Indian"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Japanese</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Japanese" value="Japanese"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Korean</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Korean" value="Korean"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Middle Eastern</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Middle_eastern" value="Middle Eastern"/>
                                </li>
                                <li class="list-group-item"><label class="interestlabel">Other Cultural</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Other_cultural" value="Other Cultures"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 id="filter">
                    Schedule
                </h4>
                    <div id="weekday" class="form-group">
                        <label class="schedule-labels" for="Day-of-week">Day of the Week:</label>
                        <select id="pickday" name="day" class="form-control" id="Day-of-week">
                            <option selected>N/A</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>
                    </div>
                    <label class="schedule-labels" for="start-time-input">Start Time:</label>
                    <input class="form-control" type="time" name="startTime" step="900" id="start-time-input">
                    <label class="schedule-labels" for="end-time-input">End Time:</label>
                    <input class="form-control" type="time" name="endTime" step="900" min="" id="end-time-input">
                
                <br>

                <button type="submit" class="btn btn-default btn-block" name="filterButton" value="filterButton">Filter</button>
                <button type="reset" class="btn btn-default btn-block" id="clr-btn">Clear Filters</button>
                </form>

            </div>
        </div>

        <!-- your page content -->
        <div class="col-sm-9 col-lg-10">
            <% if (search !== null && search !== undefined) {%>
                <h2 class="page-header">Search Term: <%= search %></h2>
            <% } %>
            <% if(clubs) {%>
                <h4> Search Results: <%= clubs.length%>  </h4>
                <% for( let idx in clubs) { %>
                    <div class="search-result">
                        <form id="search-result-box" action="/clubPage" method="POST">
                            <p>
                                <!-- Set club image and name as links to club profile-->
                                <input type="image" id="pict" name="clubname" value="<%= clubs[idx].name%>"  src="/img/<%= clubs[idx].img%>" onerror="this.src='/img/default.jpg'">
                                <input id="clubNameLink" type="submit" name="clubname" value="<%= clubs[idx].name%>">
                                <br>
                                <% var interests =[]%>
                                <% for(let index in search_interests) {
                                    if(clubs[idx].name === search_interests[index].club_name) {
                                       interests.push(search_interests[index].interest) %>
                                    <% } %>
                                <% } %>
                                <i id="tags"><%= interests.join(' - ') %></i>
                                <br>
                                <%= clubs[idx].description%>
                            </p>
                        </form>
                    </div>
                <% } %>
            <% } else { %>
                <p>No results found</p>
            <% } %>
        </div>
    </div>
</div>

