<%- contentFor('bodyPage')%>
<head>
    <title>Search Page</title>
    <meta name="description" content="To display search results">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- for Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/searchPageEffects.js"></script>

    <script>
        $("#start-time").change(function() {
            document.getElementById("end-time").min < document.getElementById("start-time").value;
        });
    </script>
</head>

<style>
    body {
        background-color: whitesmoke;
    }
    .search-result {
        float: left;
        border: 1px solid lightgrey;
        border-radius: 5px;
        width: 100%;
        margin: 10px 0px;
        padding: 5px;
        color: black;
        background-color: white;
    }

    .search-result:hover {
        border-color: dodgerblue;
    }

    #pict {
        /*width: 100px;*/
        /*height: 100px;*/
        width: auto;
        height: auto;
        max-width: 100%;
        margin-right: 5px;
        float: left;
        outline: 1px solid grey;
        border: 0;
    }

    #name {
        font-size: 24px;
        height: 0px;
    }

    #tags {
        color: darkgray;
    }

    #sidebar {
        border: 1px solid lightgrey;
        border-radius: 0px 5px 5px 5px;
        margin-left: -15px;
        padding: 5px;
        background-color: white;
    }

    .list-group-item:hover {
        background-color: whitesmoke;
        border-left: 1px solid dodgerblue!important;
    }

    .panel-heading:hover {
        border: 1px solid dodgerblue;
    }

    a:hover {
        text-decoration: none;
    }

    a:focus {
        text-decoration: none;
    }

    #filter {
        border-bottom: 1px solid lightgrey;
        text-align: center;
        padding-bottom: 2px;
    }

    .schedule-labels {
        text-decoration: none!important;
        padding-left: 5px;
        font-weight: normal;
        color:#337ab7;
    }

    #weekday {
        margin: 0px;
    }

    .SubCategories {
        visibility:hidden;
        color: black;
    }
    .interestlabel {
        font-weight: normal;
    }
    
    input[type=checkbox]:checked {
        background-color: whitesmoke;
        border-left: 1px solid dodgerblue!important;
    }

    .SubCategories:focus {
        font-weight: bold;
    }

    #logo {
        height: 25px;
        width: 100px;
    }

    #top {
        background-color: white;
        padding: 0px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
        border: 1px solid lightgrey;
        border-radius: 0px;
    }

    #pickday {
        height: 34px;
    }

    .form-inline {
        margin-top: 0px;
    }

    #Nav-List {
        float: right;
    }

    #search-btn {
        color:#337ab7;
    }

    #search-btn:hover {
        background-color:#337ab7;
        color:black;
    }

    input#clubNameLink {
        background: none;
        outline: none;
        border: none;
        color: #337ab7;
    }

    #clubNameLink:hover{
        text-decoration: none;
        color: #3e9ae6;
    }

</style>
<div class="container-fluid">

    <!-- Centeral Row -->
    <div class="row">
        <!-- Class for Side NavBar -->
        <div class="col-sm-3 col-lg-2">
            <div id="sidebar">
                <form>
                <!-- Title for Nav Bar -->
                <h4 id="filter">
                    Filter Clubs
                </h4>

                <!-- Panel group with tag filters-->
                <div class="panel-group">
                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse99">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Academic
                                </h4>
                            </div>
                        </a>
                        <div id="collapse99" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="Arts" class="interestlabel">Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Arts" value="Arts"/>
                                </li>
                                <li class="list-group-item"><label for="Business" class="interestlabel">Business</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Business" value="Business"/>
                                </li>
                                <li class="list-group-item"><label for="Comm" class="interestlabel">Communications</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Comm" value="Comm"/>
                                </li>
                                <li class="list-group-item"><label for="Med" class="interestlabel">Med/Pre-Med/Health</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Med" value="Med" />
                                </li>
                                <li class="list-group-item"><label for="Social_sciences" class="interestlabel">Social Sciences</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Social_sciences" value="Social_sciences"/>
                                </li>
                                <li class="list-group-item"><label for="STEM" class="interestlabel">STEM</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="STEM" value="STEM"/>
                                </li>
                                <li class="list-group-item"><label for="Other_academics" class="interestlabel">Other Academics</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Other_academics" value="Other_academics"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Arts
                                </h4>
                            </div>
                        </a>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="Culinary" class="interestlabel">Culinary</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Culinary" value="Culinary"/>
                                </li>
                                <li class="list-group-item"><label for="Dance" class="interestlabel">Dance</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Dance" value="Dance"/>
                                </li>
                                <li class="list-group-item"><label for="Digital_arts" class="interestlabel">Digital Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Digital_arts" value="Digital_arts"/>
                                </li>
                                <li class="list-group-item"><label for="Literature" class="interestlabel">Literature/Poetry</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Literature" value="Literature"/>
                                </li>
                                <li class="list-group-item"><label for="Music" class="interestlabel">Music</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Music" value="Music"/>
                                </li>
                                <li class="list-group-item"><label for="Painting" class="interestlabel">Painting/Drawing</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Painting" value="Painting"/>
                                </li>
                                <li class="list-group-item"><label for="Photography" class="interestlabel">Photography/Videography</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Photography" value="Photography"/>
                                </li>
                                <li class="list-group-item"><label for="Theatre" class="interestlabel">Theatre/Stage</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Theatre" value="Theatre"/>
                                </li>
                                <li class="list-group-item"><label for="Other_arts" class="interestlabel">Other Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Other_arts" value="Other_arts"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse3">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Sports/Athletics
                                </h4>
                            </div>
                        </a>
                        <div id="collapse3" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="Individual_sports" class="interestlabel">Individual Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Individual_sports" value="Individual_sports"/>
                                </li>
                                <li class="list-group-item"><label for="Intramural" class="interestlabel">Intramural Teams</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Intramural" value="Intramural"/>
                                </li>
                                <li class="list-group-item"><label for="Martial_arts" class="interestlabel">Martial Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Martial_arts" value="Martial_arts"/>
                                </li>
                                <li class="list-group-item"><label for="Official_teams" class="interestlabel">Official UCSD Teams</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Official_teams" value="Official_teams"/>
                                </li>
                                <li class="list-group-item"><label for="Outdoors" class="interestlabel">Outdoors</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Outdoors" value="Outdoors"/>
                                </li>
                                <li class="list-group-item"><label for="Team_sports" class="interestlabel">Team Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Team_sports" value="Team_sports"/>
                                </li>
                                <li class="list-group-item"><label for="Unaffiliated" class="interestlabel">Unaffiliated Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Unaffiliated" value="Unaffiliated"/>
                                </li>
                                <li class="list-group-item"><label for="Other_sports" class="interestlabel">Other Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Other_sports" value="Other_sports"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse4">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Service
                                </h4>
                            </div>
                        </a>
                        <div id="collapse4" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="Activism" class="interestlabel">Activism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Activism" value="Activism"/>
                                </li>
                                <li class="list-group-item"><label for="Community" class="interestlabel">Community Service</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Community" value="Community"/>
                                </li>
                                <li class="list-group-item"><label for="Environmental" class="interestlabel">Environmental</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Environmental" value="Environmental"/>
                                </li>
                                <li class="list-group-item"><label for="Other_service" class="interestlabel">Other Service</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Other_service" value="Other_service"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse5">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Religious/Spiritual
                                </h4>
                            </div>
                        </a>
                        <div id="collapse5" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="Buddhism" class="interestlabel">Buddhism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Buddhism" value="Buddhism"/>
                                </li>
                                <li class="list-group-item"><label for="Christian" class="interestlabel">Christianity/Catholicism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Christian" value="Christian"/>
                                </li>
                                <li class="list-group-item"><label for="Hindu" class="interestlabel">Hinduism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Hindu" value="Hindu"/>
                                </li>
                                <li class="list-group-item"><label for="Islam" class="interestlabel">Islam</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Islam" value="Islam"/>
                                </li>
                                <li class="list-group-item"><label for="Judaism" class="interestlabel">Judaism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Judaism" value="Judaism"/>
                                </li>
                                <li class="list-group-item"><label for="Sikh" class="interestlabel">Sikhism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Sikh" value="Sikh"/>
                                </li>                                
                                <li class="list-group-item"><label for="Other_religious" class="interestlabel">Other Religious/Spiritual</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Other_religious" value="Other_religious"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse6">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Greek Life
                                </h4>
                            </div>
                        </a>
                        <div id="collapse6" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="Fraternity" class="interestlabel">Fraternity</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Fraternity" value="Fraternity"/>
                                </li>
                                <li class="list-group-item"><label for="CoEd" class="interestlabel">Co-Ed</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="CoEd" value="CoEd"/>
                                </li>
                                <li class="list-group-item"><label for="Sorority" class="interestlabel">Sorority</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Sorority" value="Sorority"/>
                                </li>                                
                                <li class="list-group-item"><label for="Other_greek" class="interestlabel">Other Greek Life</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Other_greek" value="Other_greek"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse7">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Social
                                </h4>
                            </div>
                        </a>
                        <div id="collapse7" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="Books" class="interestlabel">Books/Reading</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Books" value="Books"/>
                                </li>
                                <li class="list-group-item"><label for="Cars" class="interestlabel">Cars</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Cars" value="Cars"/>
                                </li>
                                <li class="list-group-item"><label for="Comics" class="interestlabel">Comic Books</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Comics" value="Comics"/>
                                </li>
                                <li class="list-group-item"><label for="Concerts" class="interestlabel">Concerts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Concerts" value="Concerts"/>
                                </li>
                                <li class="list-group-item"><label for="Exercise" class="interestlabel">Exercise</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Exercise" value="Exercise"/>
                                </li>
                                <li class="list-group-item"><label for="gaming" class="interestlabel">Gaming</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="gaming" value="gaming"/>
                                </li>
                                <li class="list-group-item"><label for="LGBT" class="interestlabel">LGBT</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="LGBT" value="LGBT"/>
                                </li>
                                <li class="list-group-item"><label for="Movies" class="interestlabel">Movies and TV</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Movies" value="Movies"/>
                                </li>
                                <li class="list-group-item"><label for="Other_social" class="interestlabel">Other Social</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Other_social" value="Other_social"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse8">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Cultural
                                </h4>
                            </div>
                        </a>
                        <div id="collapse8" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="African" class="interestlabel">African</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="African" value="African"/>
                                </li>
                                <li class="list-group-item"><label for="Chinese" class="interestlabel">Chinese</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Chinese" value="Chinese"/>
                                </li>
                                <li class="list-group-item"><label for="European" class="interestlabel">European</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="European" value="European"/>
                                </li>
                                <li class="list-group-item"><label for="Filipino" class="interestlabel">Filipino</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Filipino" value="Filipino"/>
                                </li>
                                <li class="list-group-item"><label for="Hispanic" class="interestlabel">Hispanic/Latin</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Hispanic" value="Hispanic"/>
                                </li>
                                <li class="list-group-item"><label for="Indian" class="interestlabel">Indian</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Indian" value="Indian"/>
                                </li>
                                <li class="list-group-item"><label for="Japanese" class="interestlabel">Japanese</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Japanese" value="Japanese"/>
                                </li>
                                <li class="list-group-item"><label for="Korean" class="interestlabel">Korean</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Korean" value="Korean"/>
                                </li>
                                <li class="list-group-item"><label for="Middle_eastern" class="interestlabel">Middle Eastern</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Middle_eastern" value="Middle_eastern"/>
                                </li>
                                <li class="list-group-item"><label for="Other_cultural" class="interestlabel">Other Cultural</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Other_cultural" value="Other_cultural"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 id="filter">
                    Schedule
                </h4>
                    <div id="weekday" class="form-group">
                        <label class="schedule-labels" for="Day-of-week">Day of the Week:</label>
                        <select id="pickday" class="form-control" id="Day-of-week">
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                            <option value="sunday">Sunday</option>
                        </select>
                    </div>
                    <label class="schedule-labels" for="start-time-input">Start Time:</label>
                    <input class="form-control" type="time" step="900" id="start-time-input">
                    <label class="schedule-labels" for="end-time-input">End Time:</label>
                    <input class="form-control" type="time" step="900" min="" id="end-time-input">
                
                <br>

                <button type="submit" class="btn btn-default btn-block">Filter</button>
                <button type="button" class="btn btn-default btn-block" id="import-btn-SP">Filter by Saved Preferences</button>
                <button type="reset" class="btn btn-default btn-block" id="clr-btn">Clear Filters</button>
                </form>
            </div>
        </div>

        <!-- your page content -->
        <div class="col-sm-9 col-lg-10">
            <% if (search !== null) {%>
                <h2 class="page-header">Search Term: <%= search %></h2>
            <% } %>
            <% if(clubs) {%>
                <p> Search Results: <%= clubs.length%>  </p>
                <% for( let idx in clubs) { %>
                    <div class="search-result">
                        <form id="search-result-box" action="/clubPage" method="POST">
                            <p>
                                <!-- Set club image and name as links to club profile-->
                                <input type="image" id="pict" name="clubname" value="<%= clubs[idx].name%>" style="object-fit: cover; width: 200px; height: 150px;" src="/img/<%= clubs[idx].img%>" onerror="this.src='/img/default.jpg'">
                                <input id="clubNameLink" type="submit" name="clubname" value="<%= clubs[idx].name%>">
                                <% for(let index in search_interests) {
                                    if(clubs[idx].name === search_interests[index].club_name) { %>
                                        <i id="tags"><%= search_interests[index].interest %></i><br>
                                    <% } %>
                                <% } %>
                                <!-- TODO allow description to wrap  -->
                                <%= clubs[idx].description%>
                            </p>
                        </form>
                    </div>
                <% } %>
            <% } else if (clubs === null){ %>
                <p>No results found</p>
            <% } %>
        </div>
    </div>
</div>

