<%- contentFor('bodyPage')%>
<head>
    <title>Search Page</title>
    <meta name="description" content="To display search results">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- for Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/searchPageEffects.js"></script>

    <script>
        $("#start-time").change(function() {
            document.getElementById("end-time").min < document.getElementById("start-time").value;
        });
    </script>
</head>

<style>
    body {
        background-color: whitesmoke;
    }
    .search-result {
        float: left;
        border: 1px solid lightgrey;
        border-radius: 5px;
        width: 100%;
        margin: 10px 0px;
        padding: 5px;
        color: black;
        background-color: white;
    }

    .search-result:hover {
        border-color: dodgerblue;
    }

    #pict {
        width: 100px;
        height: 100px;
        margin-right: 5px;
        float: left;
        outline: 1px solid grey;
        border: 0;
    }

    #name {
        font-size: 24px;
        height: 0px;
    }

    #tags {
        color: darkgray;
    }

    #sidebar {
        border: 1px solid lightgrey;
        border-radius: 0px 5px 5px 5px;
        margin-left: -15px;
        padding: 5px;
        background-color: white;
    }

    .list-group-item:hover {
        background-color: whitesmoke;
        border-left: 1px solid dodgerblue!important;
    }

    .panel-heading:hover {
        border: 1px solid dodgerblue;
    }

    a:hover {
        text-decoration: none;
    }

    a:focus {
        text-decoration: none;
    }

    #filter {
        border-bottom: 1px solid lightgrey;
        text-align: center;
        padding-bottom: 2px;
    }

    .schedule-labels {
        text-decoration: none!important;
        padding-left: 5px;
        font-weight: normal;
        color:#337ab7;
    }

    #weekday {
        margin: 0px;
    }

    .SubCategories {
        visibility:hidden;
        color: black;
    }
    .interestlabel {
        font-weight: normal;
    }
    
    input[type=checkbox]:checked {
        background-color: whitesmoke;
        border-left: 1px solid dodgerblue!important;
    }

    .SubCategories:focus {
        font-weight: bold;
    }

    #logo {
        height: 25px;
        width: 100px;
    }

    #top {
        background-color: white;
        padding: 0px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
        border: 1px solid lightgrey;
        border-radius: 0px;
    }

    #pickday {
        height: 34px;
    }

    .form-inline {
        margin-top: 0px;
    }

    #Nav-List {
        float: right;
    }

    #search-btn {
        color:#337ab7;
    }

    #search-btn:hover {
        background-color:#337ab7;
        color:black;
    }

    input#clubNameLink {
        background: none;
        outline: none;
        border: none;
        color: #337ab7;
    }

    #clubNameLink:hover{
        text-decoration: none;
        color: #3e9ae6;
    }

</style>
<div class="container-fluid">

    <!-- Centeral Row -->
    <div class="row">
        <!-- Class for Side NavBar -->
        <div class="col-sm-3 col-lg-2">
            <div id="sidebar">
                <form>
                <!-- Title for Nav Bar -->
                <h4 id="filter">
                    Filter Clubs
                </h4>

                <!-- Panel group with tag filters-->
                <div class="panel-group">
                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse99">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Academic
                                </h4>
                            </div>
                        </a>
                        <div id="collapse99" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="STEM" class="interestlabel">STEM</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="STEM" value="STEM"/>
                                </li>
                                <li class="list-group-item"><label for="med" class="interestlabel">Med/Pre-Med/Health</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="med" value="med" />
                                </li>
                                <li class="list-group-item"><label for="Social_Sciences" class="interestlabel">Social Sciences</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="Social_Sciences" value="social_sciences"/>
                                </li>
                                <li class="list-group-item"><label for="comm" class="interestlabel">Communications</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="comm" value="comm"/>
                                </li>
                                <li class="list-group-item"><label for="arts" class="interestlabel">Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="arts" value="arts"/>
                                </li>
                                <li class="list-group-item"><label for="other_academics" class="interestlabel">Other Academics</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="other_academics" value="other_academics"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Arts
                                </h4>
                            </div>
                        </a>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="digital_arts" class="interestlabel">Digital Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="digital_arts" value="digital_arts"/>
                                </li>
                                <li class="list-group-item"><label for="music" class="interestlabel">Music</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="music" value="music"/>
                                </li>
                                <li class="list-group-item"><label for="dance" class="interestlabel">Dance</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="dance" value="dance"/>
                                </li>
                                <li class="list-group-item"><label for="painting" class="interestlabel">Painting/Drawing</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="painting" value="painting"/>
                                </li>
                                <li class="list-group-item"><label for="theate" class="interestlabel">Theatre/Stage</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="theatre" value="theatre"/>
                                </li>
                                <li class="list-group-item"><label for="photography" class="interestlabel">Photography/Videography</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="photography" value="photography"/>
                                </li>
                                <li class="list-group-item"><label for="literature" class="interestlabel">Literature/Poetry</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="literature" value="literature"/>
                                </li>
                                <li class="list-group-item"><label for="other_arts" class="interestlabel">Other Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="other_arts" value="other_arts"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse3">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Sports/Athletics
                                </h4>
                            </div>
                        </a>
                        <div id="collapse3" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="team_sports" class="interestlabel">Team Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="team_sports" value="team_sports"/>
                                </li>
                                <li class="list-group-item"><label for="individual_sports" class="interestlabel">Individual Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="individual_sports" value="individual_sports"/>
                                </li>
                                <li class="list-group-item"><label for="official_teams" class="interestlabel">Official UCSD Teams</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="official_teams" value="official_teams"/>
                                </li>
                                <li class="list-group-item"><label for="intramural" class="interestlabel">Intramural Teams</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="intramural" value="intramural"/>
                                </li>
                                <li class="list-group-item"><label for="unaffiliated" class="interestlabel">Unaffiliated Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="unaffiliated" value="unaffiliated"/>
                                </li>
                                <li class="list-group-item"><label for="martial_arts" class="interestlabel">Martial Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="martial_arts" value="martial_arts"/>
                                </li>
                                <li class="list-group-item"><label for="outdoors" class="interestlabel">Outdoors</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="outdoors" value="outdoors"/>
                                </li>
                                <li class="list-group-item"><label for="other_sports" class="interestlabel">Other Sports</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="other_sports" value="other_sports"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse4">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Service
                                </h4>
                            </div>
                        </a>
                        <div id="collapse4" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="activism" class="interestlabel">Activism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="activism" value="activism"/>
                                </li>
                                <li class="list-group-item"><label for="environmental" class="interestlabel">Environmental</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="environmental" value="environmental"/>
                                </li>
                                <li class="list-group-item"><label for="volunteer" class="interestlabel">Volunteer Work</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="volunteer" value="volunteer"/>
                                </li>
                                <li class="list-group-item"><label for="other_service" class="interestlabel">Other Service</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="other_service" value="other_service"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse5">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Religious/Spiritual
                                </h4>
                            </div>
                        </a>
                        <div id="collapse5" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="christian" class="interestlabel">Christianity/Catholicism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="christian" value="christian"/>
                                </li>
                                <li class="list-group-item"><label for="islam" class="interestlabel">Islam</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="islam" value="islam"/>
                                </li>
                                <li class="list-group-item"><label for="hindu" class="interestlabel">Hinduism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="hindu" value="hindu"/>
                                </li>
                                <li class="list-group-item"><label for="buddhism" class="interestlabel">Buddhism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="buddhism" value="buddhism"/>
                                </li>
                                <li class="list-group-item"><label for="sikh" class="interestlabel">Sikhism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="sikh" value="sikh"/>
                                </li>
                                <li class="list-group-item"><label for="judaism" class="interestlabel">Judaism</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="judaism" value="judaism"/>
                                </li>
                                <li class="list-group-item"><label for="other_religious" class="interestlabel">Other Religious/Spiritual</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="other_religious" value="other_religious"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse6">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Greek Life
                                </h4>
                            </div>
                        </a>
                        <div id="collapse6" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="fraternity" class="interestlabel">Fraternity</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="fraternity" value="fraternity"/>
                                </li>
                                <li class="list-group-item"><label for="sorority" class="interestlabel">Sorority</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="sorority" value="sorority"/>
                                </li>
                                <li class="list-group-item"><label for="coed" class="interestlabel">Co-Ed</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="coed" value="coed"/>
                                </li>
                                <li class="list-group-item"><label for="other_greek" class="interestlabel">Other Greek Life</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="other_greek" value="other_greek"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse7">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Social
                                </h4>
                            </div>
                        </a>
                        <div id="collapse7" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="gaming" class="interestlabel">Gaming</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="gaming" value="gaming"/>
                                </li>
                                <li class="list-group-item"><label for="concerts" class="interestlabel">Concerts/Raves</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="concerts" value="concerts"/>
                                </li>
                                <li class="list-group-item"><label for="movies" class="interestlabel">Movies and TV</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="movies" value="movies"/>
                                </li>
                                <li class="list-group-item"><label for="other_social" class="interestlabel">Other Social</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="other_social" value="other_social"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse8">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Cultural
                                </h4>
                            </div>
                        </a>
                        <div id="collapse8" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="indian" class="interestlabel">Indian</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="indian" value="indian"/>
                                </li>
                                <li class="list-group-item"><label for="chinese" class="interestlabel">Chinese</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="chinese" value="chinese"/>
                                </li>
                                <li class="list-group-item"><label for="japanese" class="interestlabel">Japanese</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="japanese" value="japanese"/>
                                </li>
                                <li class="list-group-item"><label for="korean" class="interestlabel">Korean</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="korean" value="korean"/>
                                </li>
                                <li class="list-group-item"><label for="filipino" class="interestlabel">Filipino</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="filipino" value="filipino"/>
                                </li>
                                <li class="list-group-item"><label for="african" class="interestlabel">African</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="african" value="african"/>
                                </li>
                                <li class="list-group-item"><label for="hispanic" class="interestlabel">Hispanic/Latin</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="hispanic" value="hispanic"/>
                                </li>
                                <li class="list-group-item"><label for="european" class="interestlabel">European</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="european" value="european"/>
                                </li>
                                <li class="list-group-item"><label for="middle_east" class="interestlabel">Middle Eastern</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="middle_eastern" value="middle_eastern"/>
                                </li>
                                <li class="list-group-item"><label for="other_cultural" class="interestlabel">Other Cultural</label>
                                <input type="checkbox" class="SubCategories" name="checkbox[]" id="other_cultural" value="other_cultural"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 id="filter">
                    Schedule
                </h4>
                    <div id="weekday" class="form-group">
                        <label class="schedule-labels" for="Day-of-week">Day of the Week:</label>
                        <select id="pickday" class="form-control" id="Day-of-week">
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                            <option value="sunday">Sunday</option>
                        </select>
                    </div>
                    <label class="schedule-labels" for="start-time-input">Start Time:</label>
                    <input class="form-control" type="time" value="08:00:00" step="900" id="start-time-input">
                    <label class="schedule-labels" for="end-time-input">End Time:</label>
                    <input class="form-control" type="time" value="20:00:00" step="900" min="" id="end-time-input">
                
                <br>
            
                <button type="submit" class="btn btn-default btn-block">Filter</button>
                <button type="reset" class="btn btn-default btn-block" id="clr-btn">Clear Filters</button>
                </form>
            </div>
        </div>

        <!-- your page content -->
        <div class="col-sm-9 col-lg-10">
            <% if (search !== null) {%>
                <h2 class="page-header">Search Term: <%= search %></h2>
            <% } %>
            <% if(clubs) {%>
                <p> Search Results: <%= clubs.length%>  </p>
                <% for( let idx in clubs) { %>
                    <div class="search-result">
                        <form id="search-result-box" action="/clubPage" method="POST">
                            <p>
                                <!-- Set club image and name as links to club profile-->
                                <input type="image" id="pict" name="clubname" value="<%= clubs[idx].name%>" src="http://www.alumni.ucsd.edu/s/1170/images/editor/email_headers/spirit-night-email-banner.jpg">
                                <input id="clubNameLink" type="submit" name="clubname" value="<%= clubs[idx].name%>">
                                <br> <i id="tags">These - are - Tags</i><br> <%= clubs[idx].description%>
                            </p>
                        </form>
                    </div>
                <% } %>
            <% } else if (clubs === null){ %>
                <p>No results found</p>
            <% } %>
        </div>
    </div>
</div>

