<%- contentFor('bodyPage')%>
<head>
    <title>Search Page</title>
    <meta name="description" content="To display search results">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- for Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/searchPageEffects.js"></script>

    <script>
        $("#start-time").change(function() {
            document.getElementById("end-time").min < document.getElementById("start-time").value;
        });
    </script>
</head>

<style>
    body {
        background-color: whitesmoke;
    }
    .search-result {
        float: left;
        border: 1px solid lightgrey;
        border-radius: 5px;
        width: 100%;
        margin: 10px 0px;
        padding: 5px;
        color: black;
        background-color: white;
    }

    .search-result:hover {
        border-color: dodgerblue;
    }

    #pict {
        width: 100px;
        height: 100px;
        margin-right: 5px;
        float: left;
        outline: 1px solid grey;
        border: 0;
    }

    #name {
        font-size: 24px;
        height: 0px;
    }

    #tags {
        color: darkgray;
    }

    #sidebar {
        border: 1px solid lightgrey;
        border-radius: 0px 5px 5px 5px;
        margin-left: -15px;
        padding: 5px;
        background-color: white;
    }

    .list-group-item:hover {
        background-color: whitesmoke;
        border-left: 1px solid dodgerblue!important;
    }

    .panel-heading:hover {
        border: 1px solid dodgerblue;
    }

    a:hover {
        text-decoration: none;
    }

    a:focus {
        text-decoration: none;
    }

    #filter {
        border-bottom: 1px solid lightgrey;
        text-align: center;
        padding-bottom: 2px;
    }

    .schedule-labels {
        text-decoration: none!important;
        padding-left: 5px;
        font-weight: normal;
        color:#337ab7;
    }

    #weekday {
        margin: 0px;
    }

    .SubCategories {
        visibility:hidden;
        color: black;
    }
    .interestlabel {
        font-weight: normal;
    }
    
    input[type=checkbox]:checked {
        background-color: whitesmoke;
        border-left: 1px solid dodgerblue!important;
    }

    .SubCategories:focus {
        font-weight: bold;
    }

    #logo {
        height: 25px;
        width: 100px;
    }

    #top {
        background-color: white;
        padding: 0px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
        border: 1px solid lightgrey;
        border-radius: 0px;
    }

    #pickday {
        height: 34px;
    }

    .form-inline {
        margin-top: 0px;
    }

    #Nav-List {
        float: right;
    }

    #search-btn {
        color:#337ab7;
    }

    #search-btn:hover {
        background-color:#337ab7;
        color:black;
    }

    input#clubNameLink {
        background: none;
        outline: none;
        border: none;
        color: #337ab7;
    }

    #clubNameLink:hover{
        text-decoration: none;
        color: #3e9ae6;
    }

</style>
<div class="container-fluid">

    <!-- Centeral Row -->
    <div class="row">
        <!-- Class for Side NavBar -->
        <div class="col-sm-3 col-lg-2">
            <div id="sidebar">

                <!-- Title for Nav Bar -->
                <h4 id="filter">
                    Filter Clubs
                </h4>

                <!-- Panel group with tag filters-->
                <div class="panel-group">
                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse99">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Academic
                                </h4>
                            </div>
                        </a>
                        <div id="collapse99" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><label for="STEM" class="interestlabel">STEM</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="STEM" value="STEM"/>
                                </li>
                                <li class="list-group-item"><label for="med" class="interestlabel">Med/Pre-Med/Health</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="med" value="med" />
                                </li>
                                <li class="list-group-item"><label for="Social_Sciences" class="interestlabel">Social Sciences</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="Social_Sciences" value="social_sciences"/>
                                </li>
                                <li class="list-group-item"><label for="comm" class="interestlabel">Communications</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="comm" value="comm"/>
                                </li>
                                <li class="list-group-item"><label for="arts" class="interestlabel">Arts</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="arts" value="arts"/>
                                </li>
                                <li class="list-group-item"><label for="other_academics" class="interestlabel">Other Academics</label>
                                <input type="checkbox" class="SubCategories" name="checkbox" id="other_academics" value="other_academics"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Arts
                                </h4>
                            </div>
                        </a>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a class="SubCategories" href=#><li class="list-group-item">Digital Arts</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Music</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Dance</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Painting</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Theatre</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Photography</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Literature/Poetry</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Other Arts</li></a>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse3">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Sports/Athletics
                                </h4>
                            </div>
                        </a>
                        <div id="collapse3" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a class="SubCategories" href=#><li class="list-group-item">Team Sports</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Individual Sports</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Offical UCSD Teams</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Intramural Teams</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Unaffiliated</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Martial Arts</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Outdoors</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Other Sports</li></a>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse4">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Service
                                </h4>
                            </div>
                        </a>
                        <div id="collapse4" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a class="SubCategories" href=#><li class="list-group-item">Activism</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Environmental</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Volunteering</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Other Service</li></a>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse5">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Religious/Spiritual
                                </h4>
                            </div>
                        </a>
                        <div id="collapse5" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a class="SubCategories" href=#><li class="list-group-item">Christianity/Catholicism</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Islam</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Hinduism</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Buddhism</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Sikhism</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Judasim</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Other Religious/Spiritual</li></a>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse6">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Greek Life
                                </h4>
                            </div>
                        </a>
                        <div id="collapse6" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a class="SubCategories" href=#><li class="list-group-item">Fraternity</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Sorority</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Co-Ed</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Other Greek</li></a>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse7">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Social
                                </h4>
                            </div>
                        </a>
                        <div id="collapse7" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a class="SubCategories" href=#><li class="list-group-item">Gaming</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Exercise</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Music</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Movies and TV</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Other Social</li></a>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a data-toggle="collapse" href="#collapse8">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Cultural
                                </h4>
                            </div>
                        </a>
                        <div id="collapse8" class="panel-collapse collapse">
                            <ul class="list-group">
                                <a class="SubCategories" href=#><li class="list-group-item">Indian</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Chinese</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Japanese</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Korean</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Other Asian</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Filpino</li></a>
                                <a class="SubCategories" href=#> <li class="list-group-item">African</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Hispanic/Latin</li></a>
                                <a class="SubCategories" href=#> <li class="list-group-item">European</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Middle Eastern</li></a>
                                <a class="SubCategories" href=#><li class="list-group-item">Other Cultural</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4 id="filter">
                    Schedule
                </h4>
                <form>
                    <div id="weekday" class="form-group">
                        <label class="schedule-labels" for="Day-of-week">Day of the Week:</label>
                        <select id="pickday" class="form-control" id="Day-of-week">
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                            <option value="sunday">Sunday</option>
                        </select>
                    </div>
                    <label class="schedule-labels" for="start-time-input">Start Time:</label>
                    <input class="form-control" type="time" value="08:00:00" step="900" id="start-time-input">
                    <label class="schedule-labels" for="end-time-input">End Time:</label>
                    <input class="form-control" type="time" value="20:00:00" step="900" min="" id="end-time-input">
                
                <br>
                    <input type="hidden" value="<%= search %>">
                <button type="submit" class="btn btn-default btn-block">Filter</button>
                <button type="reset" class="btn btn-default btn-block" id="clr-btn">Clear Filters</button>
                </form>
            </div>
        </div>

        <!-- your page content -->
        <div class="col-sm-9 col-lg-10">
            <% if (search !== null) {%>
                <h2 class="page-header">Search Term: <%= search %></h2>
            <% } %>
            <% if(clubs) {%>
                <% for( let idx in clubs) { %>
                    <div class="search-result">
                        <form id="search-result-box" action="/clubPage" method="POST">
                            <p>
                                <!-- Set club image and name as links to club profile-->
                                <input type="image" id="pict" name="clubname" value="<%= clubs[idx].name%>" src="http://www.alumni.ucsd.edu/s/1170/images/editor/email_headers/spirit-night-email-banner.jpg">
                                <input id="clubNameLink" type="submit" name="clubname" value="<%= clubs[idx].name%>">
                                <br> <i id="tags">These - are - Tags</i><br> <%= clubs[idx].description%>
                            </p>
                        </form>
                    </div>
                <% } %>
            <% } else if (clubs === null){ %>
                <p>No results found</p>
            <% } %>
        </div>
    </div>
</div>

